/*
MIXIN
*/
*,
:after,
:before {
  box-sizing: border-box; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #c9312c;
  text-decoration: none; }

a:focus,
a:hover {
  color: #8a221e;
  text-decoration: underline; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: #fbfbfb 1px solid; }

.container {
  margin: 0 auto; }

.clearfix {
  clear: both; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.hidden {
  display: none;
  visibility: hidden; }

.mb {
  margin-bottom: 1rem; }

.mt {
  margin-top: 1rem; }

.mr {
  margin-right: 1rem; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.vertical-align {
  display: flex;
  justify-content: center;
  height: 100%; }

.vertical-align.middle {
  align-items: center; }

#main.home {
  background: url("/resources/assets/front/img/backgrounds/b.png") #fbfbfb no-repeat left center !important;
  color: #010101; }

/*
  DASHBOARD
  */
.home div#dashboard {
  background: rgba(255, 255, 255, 0.2);
  webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1); }

@media only screen and (min-width: 48em) {
  .home div#dashboard .form-group {
    margin: 0; } }
/* DROPDOWN */
.lang a.dropbtn {
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #c9312c;
  padding: 8px 12px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.lang a.dropbtn:hover {
  text-decoration: none;
  color: #fff; }

/* DROPDOWN */
.drop-element {
  z-index: 10; }

@media screen and (min-width: 46em) {
  .drop-element {
    max-width: 50%; } }
.drop-content {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  background-color: white; }

.drop-content,
.drop-content-inner {
  background-color: #c9312c !important;
  color: #fff !important;
  border: 0 !important; }

.drop-content:before {
  border-top-color: #c9312c !important; }

.drop-content.drop-target-attached-top::before {
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  border-bottom-color: #000; }

.drop-title {
  padding: 0 0 0.8rem;
  opacity: 0.6;
  border: 0;
  background: none;
  text-transform: none;
  font-size: 0.75rem;
  line-height: 1.428571429;
  letter-spacing: 1px; }

.drop-content .room-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem; }

.drop-content .room-price {
  float: left; }

.drop-content .room-price span.price {
  font-size: 0.57rem;
  margin: 0 0.7rem;
  position: relative;
  display: inline-block;
  line-height: 1.5; }

.drop-content .room-price span.price {
  color: #a8e5ff; }

.drop-content .room-book {
  float: right;
  overflow: hidden; }

.drop-content .room-book svg {
  width: 20px;
  height: 18px;
  vertical-align: middle; }

.drop-content .book-now {
  padding: 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
  cursor: pointer;
  background: none;
  border: 0; }

.drop-content .book-now {
  color: white !important;
  border-bottom: 1px solid white; }

.grey-box {
  background: #fbfbfb;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

#masthead {
  min-height: 50px;
  background-color: #fff;
  color: #010101;
  padding: 1em 0; }

#masthead .site-title {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%; }

#masthead .site-title {
  text-indent: -9999px;
  height: 50px;
  width: 108px;
  display: block;
  margin: 0 auto; }

@media only screen and (min-width: 48em) {
  #masthead .site-title {
    background-image: url("../img/logo_extended.png");
    margin: 0; }

  #masthead .site-title {
    width: 110px; } }
#masthead .site-title > a {
  display: block; }

#masthead ul#header-item {
  margin: 0;
  padding: 0;
  float: right; }

#masthead ul#header-item > li {
  display: inline-block;
  padding: 0 .5em;
  line-height: 50px; }

#masthead ul#header-item > li > a {
  font-weight: 700; }

#masthead ul#header-item > li > a:hover {
  background-color: transparent; }

@media only screen and (min-width: 48em) {
  #masthead ul#header-item > li > a {
    color: #fff;
    font-weight: 700; }

  #masthead ul#header-item > li > a:hover {
    color: #f1f1f1;
    background-color: transparent; } }
#masthead ul#header-item > li > a:active {
  color: #f1f1f1;
  background-color: #eeeeee; }

#masthead ul#header-item > li > a > i {
  font-size: 1.5em; }

#masthead select.form-field {
  background: #b42c27;
  border: 1px solid #b42c27;
  color: #fff; }

#hero {
  padding: 30px 0; }

#hero {
  text-transform: uppercase;
  letter-spacing: 1px; }

#hero h1.hero-title {
  font-weight: 700; }

#hero h3.hero-subtitle {
  font-weight: 400; }

#main {
  padding: 1rem 0 2rem; }

.container-fluid {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem; }

/*
DASHBOARD
*/
div#dashboard {
  padding: 30px;
  margin-top: 30px; }

div#dashboard .form-field {
  text-align: center; }

/*
SUMMARY BAR
*/
#summary-bar {
  background-color: #9f2723;
  padding: 6px; }

#summary-bar.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10; }

#summary-bar,
#summary-bar > a {
  color: #fff; }

#summary-bar {
  font-weight: 700; }

#summary-bar ul {
  list-style: none;
  padding: 0;
  margin: 0; }

#summary-bar ul > li {
  display: block;
  border-left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 35px; }

@media only screen and (min-width: 48em) {
  #summary-bar ul > li {
    display: inline-block;
    padding: 0 0.5rem;
    border-bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2); }

  #summary-bar ul > li:first-child {
    padding-left: 0;
    border-left: 0; } }
#summary-bar .item-info {
  display: inline-block;
  padding: 0.2rem; }

#summary-bar .btn {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 0.7em;
  padding: 0.6em; }

/*
SUMMARY BAR
*/
.block-reservation-info {
  display: table;
  width: 100%;
  background: #fff;
  margin-bottom: 15px; }

.block-reservation-info > div {
  display: table-row; }

.block-reservation-info > div > div {
  display: table-cell;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle; }

ul.list-room {
  list-style: none;
  padding: 0; }
  ul.list-room li.list > .row {
    margin: 0; }
  ul.list-room li.list {
    background: #fff;
    padding-bottom: 10px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 51px 92px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 51px 92px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 51px 92px rgba(0, 0, 0, 0.1);
    box-shadow: 0 51px 92px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  ul.list-room li.list figure {
    height: 200px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    background-position: center center;
    background-size: cover;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    border-top-right-radius: 10px; }
    ul.list-room li.list figure button {
      outline: 0; }
    ul.list-room li.list figure:hover button {
      display: block; }
  @media screen and (min-width: 46em) {
    ul.list-room li.list figure {
      height: auto;
      -webkit-border-top-right-radius: 0;
      -moz-border-top-right-radius: 0;
      -ms-border-top-right-radius: 0;
      border-top-right-radius: 0; } }
  ul.list-room li.list figure img {
    margin: 0;
    padding: 0;
    width: 100%; }
  ul.list-room li.list figure button {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    margin: 0;
    border: 0;
    display: none;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px; }
  ul.list-room li.list figure button i {
    color: #fff;
    font-size: 5em; }
  ul.list-room li.list .details {
    padding: 0;
    margin: 0; }
    ul.list-room li.list .details .button {
      margin-top: 8px; }
    ul.list-room li.list .details .description {
      max-height: 100px;
      overflow: hidden;
      text-overflow: ellipsis; }
    ul.list-room li.list .details > * {
      display: block; }
    ul.list-room li.list .details > * > * {
      display: block;
      padding: 0;
      text-align: center;
      vertical-align: middle; }
    ul.list-room li.list .details > * > *:first-child {
      padding-left: 0;
      padding-right: 16px;
      text-align: center; }
    ul.list-room li.list .details > * > *:last-child {
      width: 100%; }
    ul.list-room li.list .details > *:first-child > * {
      border-bottom: 1px solid #fbfbfb;
      padding-top: 0;
      padding-bottom: 0;
      min-height: 50px;
      line-height: 50px; }
    ul.list-room li.list .details .price {
      text-transform: uppercase;
      display: block;
      font-weight: 700;
      font-size: 36px;
      padding: 15px;
      line-height: 36px;
      text-align: center; }
    ul.list-room li.list .details .price small {
      font-size: 10px;
      display: block;
      margin: 0;
      color: #838383;
      padding: 0; }
  @media screen and (min-width: 46em) {
    ul.list-room li.list {
      padding: 0; }
    ul.list-room li.list .details {
      display: table;
      padding: 15px 0 15px 20px; }
      ul.list-room li.list .details > * {
        display: table-row; }
      ul.list-room li.list .details > * > * {
        padding: 10px 16px 0;
        display: table-cell; }
      ul.list-room li.list .details > *:first-child > * {
        padding-bottom: 10px;
        min-height: auto;
        line-height: 1; }
      ul.list-room li.list .details > * > *:first-child {
        border-right: 1px solid #fbfbfb;
        text-align: left; }
      ul.list-room li.list .details > * > *:last-child {
        width: 220px; } }
  ul.list-room li.list .rate-details {
    display: none;
    width: 100%;
    padding: 0 1em; }
  ul.list-room li.list .close {
    position: absolute;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    visibility: hidden; }
  ul.list-room li.list.open {
    position: relative;
    z-index: 2;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  ul.list-room li.list.open::after {
    content: '';
    font-size: 16px;
    color: #fff; }
  ul.list-room li.list.open .btn-info {
    display: none; }
  ul.list-room li.list.open .rate-details {
    display: block; }
  ul.list-room li.list.open .close {
    top: -35px;
    right: 0;
    visibility: visible; }
  ul.list-room li.list.open .row {
    border-bottom: 1px solid #f1f1f1; }
  ul.list-room li.list.open .row:last-child {
    border: 0; }
  ul.list-room li.list.open .rate-details .rate-description {
    padding: 1em 0;
    display: none; }
  ul.list-room li.list.open .rate-details .rate-description.visible {
    display: block; }
  ul.list-room li.list.open .rate-details .rate-name {
    background: #fafafa;
    padding: 1rem;
    margin: 0 -1rem 1rem; }
  ul.list-room li.list .rate-details > div {
    display: block; }
  ul.list-room li.list .rate-details > div > div {
    padding: 10px 0;
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1; }
  ul.list-room li.list .rate-details > div > div:last-child {
    border-right: none; }
  ul.list-room li.list .rate-details > div > div:nth-child(1),
  ul.list-room li.list .rate-details > div > div:nth-child(2),
  ul.list-room li.list .rate-details > div > div:nth-child(3) {
    width: 100%; }
  @media screen and (min-width: 46em) {
    ul.list-room li.list.open .rate-details {
      display: table; }
    ul.list-room li.list .rate-details > div {
      display: table-row; }
    ul.list-room li.list .rate-details > div > div {
      display: table-cell;
      vertical-align: middle;
      border-right: 1px solid #f1f1f1;
      padding: 10px 20px; }
    ul.list-room li.list .rate-details > div > div:last-child {
      border-right: none; }
    ul.list-room li.list .rate-details > div > div:nth-child(1) {
      width: 33%; }
    ul.list-room li.list .rate-details > div > div:nth-child(2) {
      width: 33%; }
    ul.list-room li.list .rate-details > div > div:nth-child(3) {
      width: 34%; } }
  ul.list-room li.list .price {
    font-size: 18px;
    font-weight: 700; }
  ul.list-room li.list .rate-details svg {
    width: 20px;
    height: 20px;
    vertical-align: middle; }
  ul.list-room li.list .rate-details .room-line {
    height: 60px;
    line-height: 55px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1; }
  ul.list-room li.list .rate-details .room-line.is-added {
    height: 0;
    border: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  ul.list-room li.list .rate-details .room-line:last-child {
    border-bottom: 0; }
  ul.list-room li.list .rate-details .room-line > button > span.room-count {
    background: #e94b35;
    padding: 0.2em 0.6em;
    border-radius: 5px;
    display: inline-block;
    margin-right: 20px;
    font-size: 0.8em; }

.overlay-modal-room {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

/* CART */
.overlay-cart {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  visibility: hidden; }
  .overlay-cart #cart {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: -100%;
    right: 0;
    padding: 32px;
    overflow: auto;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .overlay-cart #cart .btn {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
      width: 100%;
      margin-bottom: 10px; }
    .overlay-cart #cart .cart-content > .ti-close {
      color: #000;
      font-size: 30px; }
  @media screen and (min-width: 46em) {
    .overlay-cart #cart {
      width: 50%; }
      .overlay-cart #cart .btn {
        width: auto;
        margin-bottom: 0; }
      .overlay-cart #cart .cart-content > .ti-close {
        color: #fff;
        position: absolute;
        top: 15px;
        left: 15px; }
    .overlay-cart #cart .cart-content > .ti-close {
      color: #fff;
      left: -50px; }
    .overlay-cart #cart .payment-summary {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 32px; } }
  .overlay-cart #cart .cart-content h1 {
    margin-top: 0; }
  .overlay-cart #cart ul#rooms-list > li {
    line-height: 25px !important;
    background-color: #e7e9f1;
    padding: 10px;
    margin-bottom: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: translate 0.3s linear;
    -o-transition: translate 0.3s linear;
    transition: translate 0.3s linear; }
  .overlay-cart.visible #cart ul#rooms-list > li {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition: translate 0.1s linear;
    -o-transition: translate 0.1s linear;
    transition: translate 0.1s linear; }
  .overlay-cart #cart ul#rooms-list > li .details .ti-close {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
    line-height: 50px;
    text-align: center; }

.overlay-cart.visible {
  visibility: visible; }
  .overlay-cart.visible #cart {
    top: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }

/*
Bottom Cart
*/
.bt-cart-container {
  width: 100%;
  background-color: #c9312c;
  padding: 10px 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: right;
  z-index: 15;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .bt-cart-container.empty {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: none; }
  .bt-cart-container .btn-continue {
    width: 100%;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
    .bt-cart-container .btn-continue::after {
      font-family: 'themify';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e649"; }
    .bt-cart-container .btn-continue::after {
      display: inline-block;
      -webkit-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      -webkit-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
      transform: translateX(100px); }
    .bt-cart-container .btn-continue:hover {
      -webkit-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      -webkit-transform: translateX(-10px);
      -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      transform: translateX(-10px); }
    .bt-cart-container .btn-continue:hover::after {
      -webkit-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
  .bt-cart-container .bt-cart-trigger {
    display: block;
    width: auto;
    position: relative;
    z-index: 3;
    white-space: nowrap;
    background: #fff;
    border-radius: 5px;
    padding: 10px 16px;
    font-weight: 700;
    text-decoration: none;
    text-align: center; }
  .bt-cart-container .bt-cart-trigger .count {
    position: absolute;
    top: -10px;
    right: -15px;
    height: 28px;
    line-height: 28px;
    width: 28px;
    background: #e94b35;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    text-indent: 0; }

@media screen and (min-width: 46em) {
  .bt-cart-container .btn-continue {
    width: auto;
    margin: 0 15px 0 0; }
  .bt-cart-container .bt-cart-trigger {
    width: auto;
    display: inline-block; } }
/* PAYMENT */
div#cart ul#rooms-list,
div.summary-items-wrapper ul#rooms-list {
  padding: 0;
  margin: 1rem 0;
  list-style: none; }

div#cart ul#rooms-list > li,
div.summary-items-wrapper ul#rooms-list > li {
  line-height: 65px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

div.summary-items-wrapper #rooms-list > li:after div#cart ul#rooms-list > li:after {
  content: "";
  width: 100%;
  display: block;
  clear: both; }

div.summary-items-wrapper #rooms-list > li .thumbnail {
  margin-right: 1em;
  float: left; }

div.summary-items-wrapper #rooms-list > li .thumbnail > div {
  width: 65px;
  height: 65px;
  background: #c9312c 50% 50% no-repeat;
  background-size: cover;
  border: 5px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 24px rgba(46, 47, 48, 0.15);
  -moz-box-shadow: 0 8px 24px rgba(46, 47, 48, 0.15);
  -ms-box-shadow: 0 8px 24px rgba(46, 47, 48, 0.15);
  box-shadow: 0 8px 24px rgba(46, 47, 48, 0.15); }

div.summary-items-wrapper #rooms-list > li .thumbnail > img {
  margin: 0;
  width: 100%;
  height: 100%; }

div#cart ul#rooms-list > li .details,
div.summary-items-wrapper #fees-list .details,
div.summary-items-wrapper #rooms-list .details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

div#cart ul#rooms-list > li .price,
div.summary-items-wrapper #fees-list > li .price,
div.summary-items-wrapper #rooms-list > li .price {
  font-size: 16px;
  font-weight: 700;
  float: right; }

div#cart ul#rooms-list,
div.summary-items-wrapper #details-list,
div.summary-items-wrapper #fees-list,
div.summary-items-wrapper #rooms-list {
  width: 100%;
  margin: 0;
  padding: 0 0 15px;
  list-style: none;
  text-align: left; }

.total-price,
.total-price-title {
  font-size: 30px;
  font-weight: 700; }

.other-price,
.other-price-title {
  font-size: 24px;
  font-weight: 700; }

.other-price,
.total-price {
  float: right;
  color: #c9312c; }

.hidden,
.special-request {
  display: none; }

/* Tab ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.tab-pane > ul {
  list-style: none;
  margin: 0; }

div.tab-pane ul > li {
  display: inline-block;
  margin: 0; }

div.tab-pane ul > li > a {
  padding: 25px 15px;
  display: inline-block;
  outline: none; }

div.tab-pane ul > li.current {
  border-bottom: 0.1rem solid #fbfbfb; }

div.tab-pane ul > li.current > a {
  color: #c9312c; }

div.tab-content div.tab {
  display: none; }

div.tab-content div.tab.visible {
  display: block; }

div.tab > .tab-content {
  padding: 15px; }

/* Notes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.alert {
  margin-bottom: 15px;
  padding: 10px 16px;
  color: #fff; }

.alert > p {
  margin: 0; }

.alert.success {
  background-color: #5cb85c;
  border-left: 6px solid #fbfbfb; }

.alert.info {
  background-color: #5bc0de;
  border-left: 6px solid #fbfbfb; }

.alert.warning {
  background-color: #f0ad4e;
  border-left: 6px solid #fbfbfb; }

.alert.danger {
  background-color: #d9534f;
  border-left: 6px solid #fbfbfb; }

/****
    DROPDOWN
***/
a.dropbtn {
  background: #d43f3b;
  border: 1px solid #d43f3b;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

a.dropbtn:hover {
  text-decoration: none;
  color: #fff; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  z-index: 1; }

.dropdown-content ul {
  padding: 0;
  list-style: none; }

.dropdown-content ul > li {
  line-height: 1; }

.dropdown-content a {
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.dropdown:hover .dropbtn {
  background: #b42c27; }

/****
    INVOICE
***/
.invoice-box {
  margin: 15px auto;
  padding: 0;
  border: 1px solid #eee;
  background: #fff;
  font-size: 14px;
  line-height: 24px;
  zoom: 0.6; }

@media screen and (min-width: 42em) {
  .invoice-box {
    zoom: 1;
    padding: 30px;
    font-size: 14px; } }
.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left; }

.invoice-box table td {
  padding: 5px;
  vertical-align: top; }

.invoice-box table tr td:nth-child(2) {
  text-align: right; }

.invoice-box table tr.top table td {
  padding-bottom: 20px; }

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px; }

.invoice-box table tr.information table td {
  padding-bottom: 40px; }

.invoice-box table tr.heading td {
  background: #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
  font-weight: bold; }

.invoice-box table tr.details td {
  padding-bottom: 20px; }

.invoice-box table tr.item td {
  border-bottom: 1px solid #fbfbfb; }

.invoice-box table tr.item.last td {
  border-bottom: none; }

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #fbfbfb;
  font-weight: bold; }

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center; }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center; } }
#credit_card,
#paypal,
#stripe {
  display: none; }

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #b1b1b1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; }

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df; }

.StripeElement--invalid {
  border-color: #fa755a; }

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important; }

#card-errors {
  padding: 1em;
  font-weight: bold;
  color: red; }

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  max-width: 1000px; }

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.modal-close:focus,
.modal-close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

.form-group {
  position: relative;
  margin-bottom: 15px; }

.form-text {
  display: block;
  margin-top: 6px; }

.form-field {
  width: 100%;
  color: #555555;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 10px 16px;
  line-height: 1.428571429;
  outline: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 1px 3px 0 #b1b1b1;
  -moz-box-shadow: 0 1px 3px 0 #b1b1b1;
  -ms-box-shadow: 0 1px 3px 0 #b1b1b1;
  box-shadow: 0 1px 3px 0 #b1b1b1;
  -webkit-transition: box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-field.success {
  border: 1px solid #5cb85c; }

.form-field.danger {
  border: 1px solid #d9534f; }

select.form-field {
  background: url("../img/arrow-down-icon.png") #fff no-repeat 95% 50%; }

select.form-field.form-select-primary {
  color: #fff;
  background: url("../img/arrow-down-icon-w.png") #c9312c no-repeat 95% 50%; }

.btn-group button,
.btn-group select {
  width: auto;
  float: left;
  /* Float the buttons side by side */ }

.btn-group button:first-child,
.btn-group select:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-group button:last-child,
.btn-group select:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group:after {
  content: "";
  clear: both;
  display: table; }

.btn {
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.428571429;
  letter-spacing: 1px;
  position: relative;
  padding: 10px 16px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn:active,
.btn:hover {
  border: 1px solid #fbfbfb;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn-icon {
  padding: 10px 50px 10px 16px; }

.btn-icon > span.btn-item {
  height: 100%;
  padding: 0 15px;
  font-size: 15px;
  vertical-align: middle;
  display: inline-block; }

.btn-block {
  width: 100%; }

.btn-primary {
  background-color: #c9312c;
  border: 1px solid #b42c27;
  color: #fff; }

.btn-primary:hover {
  background-color: #9f2723;
  border: 1px solid #9f2723; }

.btn-default {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333; }

.btn-default:hover {
  background-color: #f2f2f2;
  border: 1px solid #bfbfbf; }

.btn-outline {
  background-color: transparent;
  border: 1px solid #b42c27;
  color: #b42c27; }

.btn-outline:hover {
  background-color: #c9312c;
  border: 1px solid #9f2723;
  color: #fff; }

.btn-square {
  padding: 6px 36px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.btn-book-now {
  width: 100%;
  background-color: #c9312c;
  border: 1px solid #b42c27;
  color: #fff;
  padding: 12px;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.btn-book-now:hover {
  background-color: #9f2723;
  border: 1px solid #9f2723; }

input:focus ~ .floating-label {
  top: -15px;
  left: 2em;
  opacity: 1;
  outline: none; }

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  transition: 0.2s ease all;
  opacity: 0; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #555555; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555555;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555555;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555555; }

.label {
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.3em 0.6em;
  text-align: center; }
  .label.label-danger {
    background: #e94b35;
    color: #ffffff; }

@font-face {
  font-family: 'geometria';
  src: url("../fonts/geometrialight-webfont.woff2") format("woff2"), url("../fonts/geometrialight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'geometria';
  src: url("../fonts/geometria-webfont.woff2") format("woff2"), url("../fonts/geometria-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'geometria';
  src: url("../fonts/geometriamedium-webfont.woff2") format("woff2"), url("../fonts/geometriamedium-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'geometria';
  src: url("../fonts/geometriabold-webfont.woff2") format("woff2"), url("../fonts/geometriabold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
/*
  Typography
*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.428571429;
  color: inherit; }

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  line-height: 1.428571429;
  color: #777777; }

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-bottom: 10px; }

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%; }

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-bottom: 10px; }

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%; }

.h1,
h1 {
  font-size: 28px; }
  @media screen and (min-width: 480px) {
    .h1,
    h1 {
      font-size: 31px; } }
  @media screen and (min-width: 700px) {
    .h1,
    h1 {
      font-size: 33px; } }
  @media screen and (min-width: 1024px) {
    .h1,
    h1 {
      font-size: 36px; } }

.h2,
h2 {
  font-size: 21px; }
  @media screen and (min-width: 480px) {
    .h2,
    h2 {
      font-size: 24px; } }
  @media screen and (min-width: 700px) {
    .h2,
    h2 {
      font-size: 26px; } }
  @media screen and (min-width: 1024px) {
    .h2,
    h2 {
      font-size: 30px; } }

.h3,
h3 {
  font-size: 24px; }

.h4,
h4 {
  font-size: 18px; }

.h5,
h5 {
  font-size: 14px; }

.h6,
h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px;
  font-size: 12px; }
  @media screen and (min-width: 480px) {
    p {
      font-size: 14px; } }
  @media screen and (min-width: 700px) {
    p {
      font-size: 14px; } }
  @media screen and (min-width: 900px) {
    p {
      font-size: 14px; } }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 16px; } }
  @media screen and (min-width: 1440px) {
    p {
      font-size: 16px; } }

strong {
  font-weight: 700; }

.drop-content, .drop-title {
  color: #fff; }

.color-turquoise-text {
  color: #c2d2f5 !important; }

.color-light-grey, .pagination li a {
  color: #b7b7b7; }

.color-red {
  color: #d9534f; }

.color-primary {
  color: #c9312c; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-uc {
  text-transform: uppercase; }

.text-lc {
  text-transform: lowercase; }

.text-un {
  text-decoration: underline; }

  div.datedropper.my-theme {
    --dd-color1: #c9312c;
  }

/*# sourceMappingURL=23038.css.map */
