#calendar-range {
  padding: 12px 0;
  text-align: center;
}

#table-rates {
  padding: 0;

  &:first-child td {
    padding: 0;
  }
}

#table-scheduler-select-date {
  position: relative;
  width: 300px;
  z-index: 99;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;

  td {
    &.hb-resa-cal-commands {
      border-bottom: 1px solid #e5e5e5;
      height: 80px;
      text-align: center;

      span.calendar-range {
        display: block;
        font-weight: bold;
        margin-top: 10px;
      }

      div.hb-calendar-controls {
        margin: 10px auto;
        width: 110px;
      }
    }

    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
    height: 40px;
    padding: 6px !important;
    text-align: left;
    font-weight: bold;
  }
}

#content-calendar-rates {
  position: relative;
  overflow: hidden;
}

.calendar-rates {
  margin: 0;

  tr.calendar-row {
    height: 80px;

    th.calendar-day {
      background-color: #fff;
      text-align: center;
      width: 50px;
      height: 40px;
      font-weight: normal;
      color: #6e6e6e;
      text-transform: uppercase;
      line-height: 11px;
      font-size: 11px;
      border: 1px solid #e4e4e4;
      padding: 5px;
    }
  }

  th.calendar-day {
    .day-number {
      font-size: 24px;
      display: inline-block;
      padding: .2em 0;
      color: #000;
      font-weight: bold;
      line-height: 1;
    }

    &.weekend {
      color: #000 !important;
      background: #f1f1f1 !important;
    }
  }

  td {
    &:first-child {
      padding: 1em 3em !important;
      white-space: nowrap;
    }

    .calendar-title {
      text-align: left;
      font-size: 15px;
      margin-right: 10px;
      font-weight: bold;
    }

    .calendar-title-rates {
      text-align: left;
      font-size: 12px;
      font-weight: normal;
    }

    height: 40px;
    min-width: 80px;
    padding: 8px !important;
    border: 1px solid #e6e6e6;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #526273;

    &.highlighted {
      background: #94A2FA;
    }

    .form-control {
      width: 80px;
    }

    .input-group {
      margin-bottom: 10px;

      .input-group-addon {
        min-width: 40px;
      }
    }

    select.form-control.closed {
      width: 50px;
      display: inline-block;
    }
  }
}

td .input-rates {
  font-size: 12px;
}

.calendar-units td .units {
  &:active, &:hover, &:focus {
    border: 1px solid #dedede;
    outline: none;
  }

  &.na {
    background-color: #ffcdcd;
    color: #f9f9f9;
  }

  &.modified {
    background-color: #d3d3d3;
  }

  &.na.modified {
    background: linear-gradient(155deg, #d3d3d3 0%, #d3d3d3 50%, #ffcdcd 50%, #ffcdcd 100%);
  }
}

/*
tr.calendar-rates .input-rates,
tr.calendar-single-rates .input-rates{
  display: none;
}*/

.calendar-rates.edit td .form-control, .calendar-single-rates.edit td .form-control {
  display: block;
  width: 50px;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.btn-edit, .edit .btn-no-edit {
  display: none !important;
}

.btn-no-edit, .edit .btn-edit {
  display: inline-block !important;
}