.planning {
  margin: 0;

  tr {
    &.calendar-row {
      height: 80px;
    }

    &.rooms-type td {
      background-color: #f9f9f9;
      width: 50px;
      height: 50px;
      font-weight: bold;
      color: #6e6e6e;
      text-transform: uppercase;
      line-height: 13px;
      font-size: 11px;
      border: 1px solid #cdcdcd;
      padding: 5px;
    }
  }

  .calendar-title {
    white-space: nowrap;
    padding: 0 20px;
    font-size: 14px;
  }

  h6 {
    margin: 0;
  }

  th.calendar-day,
  td.calendar-day {
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: normal;
    color: #6e6e6e;
    text-transform: uppercase;
    line-height: 13px;
    font-size: 11px;
    border: 1px solid #cdcdcd;
    padding: 5px;
  }

  th {
    &.calendar-day-checkinout {
      background-color: #fff;
      text-align: center;
      width: 50px;
      height: 50px;
      font-weight: normal;
      color: #6e6e6e;
      text-transform: uppercase;
      line-height: 13px;
      font-size: 11px;
      border: 1px solid #cdcdcd;
      padding: 5px;
    }

    &.calendar-day {
      .day-number {
        font-size: 24px;
        display: inline-block;
        padding: 0.2em 0;
        color: #000;
        font-weight: bold;
        line-height: 1;
      }

      &.first-day {
        border-left: 2px solid #000;
      }
    }
  }

  td:not(.planning td:first-child) {
    color: #6e6e6e;
    cursor: pointer;
  }

  .rooms-type > td {
    text-align: center;
  }

  td.calendar-day {
    &:hover,
    &:active {
      background-color: #eaf4ff !important;
    }

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  th.calendar-day.weekend,
  td.calendar-day.weekend {
    background: #f1f1f1;
  }

  th.today {
    background: #eaf4ff;
  }

  td {
    &.today {
      background: #eaf4ff;
    }

    &.highlighted,
    &.drop-active {
      background: #94a2fa;
    }
  }

  th {
    &.calendar-day,
    &.calendar-day-checkinout {
      min-width: 50px;
      width: 45px;
      height: 50px;
      border-left: 0;
    }
  }

  &:first td.calendar-day-checkinout {
    border-left: 1px;
  }

  td {
    &.calendar-day-checkinout {
      border-right: 0;
    }

    &.calendar-day.blocked,
    &.calendar-day-checkinout.blocked {
      background-color: rgba(255, 102, 102, 0.9);
    }
  }

  .res-details {
    min-width: 50px;
    height: 46px;
    line-height: 46px;
    display: block;
    margin-top: 2px;
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 5;
  }

  td {
    &.calendar-day {
      position: relative;
      width: 50px;

      &.last-day {
        overflow: hidden;
      }
    }

    &.closed {
      background-color: #e5343d;
    }
  }

  .res-details {
    > div {
      height: 46px;
      position: relative;
      padding: 0 5px;
      border-left: 1px dashed white;
      border-right: 1px dashed white;

      > span {
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;
        display: block;
        height: 46px;
      }
    }

    &.res-day-CNF > div {
      background-color: rgb(247, 215, 37);

      &::before {
        border-bottom-color: rgb(247, 215, 37);
      }

      &::after {
        border-top-color: rgb(247, 215, 37);
      }
    }

    &.res-day-SLD > div {
      background-color: rgb(133, 200, 7);

      &::before {
        border-bottom-color: rgb(133, 200, 7);
      }

      &::after {
        border-top-color: rgb(133, 200, 7);
      }
    }

    &.res-day-ALT > div {
      background-color: rgb(204, 51, 0);

      &::before {
        border-bottom-color: rgb(204, 51, 0);
      }

      &::after {
        border-top-color: rgb(204, 51, 0);
      }
    }

    &.res-day-OPN > div {
      background-color: rgb(73, 120, 195);

      &::before {
        border-bottom-color: rgb(73, 120, 195);
      }

      &::after {
        border-top-color: rgb(73, 120, 195);
      }
    }

    &.res-to-review > div {
      background-color: rgb(204, 51, 0) !important;

      &::before {
        border-bottom-color: rgb(204, 51, 0);
      }

      &::after {
        border-top-color: rgb(204, 51, 0);
      }
    }

    &.moving {
      opacity: 0.5;
    }
  }

  .day-checkout span {
    background: #fff;
    display: block;
    height: 30px;
    margin-right: -2px;
    width: 4px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  td {
    &.res-day-CNF {
      &.day-checkout div {
        border-top-color: rgb(247, 215, 37);
      }

      &.day-checkin div {
        border-right-color: rgb(247, 215, 37);
      }
    }

    &.res-day-SLD {
      &.day-checkout div {
        border-top-color: rgb(133, 200, 7);
      }

      &.day-checkin div {
        border-right-color: rgb(133, 200, 7);
      }
    }
  }
}

/*
.planning .res-details > div::before,
.planning .res-details > div::after{
  position: absolute;
  top: 0;
  z-index: -1;
  content: ''
}


.planning .res-details > div::before{
  left: -46px;
  border-bottom: 46px solid transparent;
  border-left: 46px solid transparent;
}

.planning .res-details > div::after{
  right: -46px;
  border-top: 46px solid transparent;
  border-right: 46px solid transparent;
}
*/
