#calendar-range {
  padding: 12px 0;
  text-align: center;
}

#table-rates, #table-rates:first-child td {
  padding: 0
}

#table-scheduler-select-date {
  position: relative;
  width: 300px;
  z-index: 99;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}

#table-scheduler-select-date td.hb-resa-cal-commands {
  border-bottom: 1px solid #e5e5e5;
  height: 80px;
  text-align: center;
}

#table-scheduler-select-date td.hb-resa-cal-commands span.calendar-range {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

#table-scheduler-select-date td.hb-resa-cal-commands div.hb-calendar-controls {
  margin: 10px auto;
  width: 110px;
}

#table-scheduler-select-date td {
  border-bottom: 1px solid #e5e5e5;
  font-size: 12px;
  height: 40px;
  padding: 6px !important;
  text-align: left;
  font-weight: bold;
}

#content-calendar-rates {
  position: relative;
  overflow: hidden;
}

.calendar-rates {
  margin: 0
}

.calendar-rates tr.calendar-row {
  height: 80px;
}

.calendar-rates tr.calendar-row th.calendar-day {
  background-color: #fff;
  text-align: center;
  width: 50px;
  height: 40px;
  font-weight: normal;
  color: #6e6e6e;
  text-transform: uppercase;
  line-height: 11px;
  font-size: 11px;
  border: 1px solid #e4e4e4;
  padding: 5px;
}

.calendar-rates th.calendar-day .day-number {
  font-size: 24px;
  display: inline-block;
  padding: .2em 0;
  color: #000;
  font-weight: bold;
  line-height: 1;
}

.calendar-rates th.calendar-day.weekend {
  color: #000 !important;
  background: #f1f1f1 !important;
}

.calendar-rates td:first-child {
  padding: 1em 3em !important;
  white-space: nowrap;
}

.calendar-rates td .calendar-title {
  text-align: left;
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
}

.calendar-rates td .calendar-title-rates {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}

.calendar-rates td {
  height: 40px;
  min-width: 80px;
  padding: 8px !important;
  border: 1px solid #e6e6e6;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #526273;
}

.calendar-rates td.highlighted {
  background: #94A2FA
}

.calendar-rates td .form-control {
  width: 80px;
}

.calendar-rates td .input-group {
  margin-bottom: 10px;
}

.calendar-rates td .input-group .input-group-addon {
  min-width: 40px;
}

.calendar-rates td select.form-control.closed{
  width: 50px;
  display: inline-block;
}

td .input-rates {
  font-size: 12px;
}

.calendar-units td .units:active, .calendar-units td .units:hover, .calendar-units td .units:focus {
  border: 1px solid #dedede;
  outline: none
}

/*
tr.calendar-rates .input-rates,
tr.calendar-single-rates .input-rates{
  display: none;
}*/

.calendar-units td .units.na {
  background-color: #ffcdcd;
  color: #f9f9f9;
}

.calendar-units td .units.modified {
  background-color: #d3d3d3;
}

.calendar-units td .units.na.modified {
  background: linear-gradient(155deg, #d3d3d3 0%, #d3d3d3 50%, #ffcdcd 50%, #ffcdcd 100%);
}

.calendar-rates.edit td .form-control, .calendar-single-rates.edit td .form-control {
  display: block;
  width: 50px;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.btn-edit, .edit .btn-no-edit {
  display: none !important;
}

.btn-no-edit, .edit .btn-edit {
  display: inline-block !important;
}
