.planning {
  margin: 0
}

.planning tr.calendar-row {
  height: 80px;
}

.planning tr.rooms-type td {
  background-color: #f9f9f9;
  width: 50px;
  height: 50px;
  font-weight: bold;
  color: #6e6e6e;
  text-transform: uppercase;
  line-height: 13px;
  font-size: 11px;
  border: 1px solid #cdcdcd;
  padding: 5px;
}


.planning .calendar-title{
  white-space: nowrap;
  padding:0 20px;
  font-size: 14px
}

.planning h6{
  margin: 0
}

.planning th.calendar-day,
.planning td.calendar-day,
.planning th.calendar-day-checkinout {
  background-color: #fff;
  text-align: center;
  width: 50px;
  height: 50px;
  font-weight: normal;
  color: #6e6e6e;
  text-transform: uppercase;
  line-height: 13px;
  font-size: 11px;
  border: 1px solid #CDCDCD;
  padding: 5px;
}

.planning th.calendar-day .day-number {
    font-size: 24px;
    display: inline-block;
    padding: .2em 0;
    color: #000;
    font-weight: bold;
    line-height: 1;
}

.planning th.calendar-day.first-day{
  border-left: 2px solid #000;
}

.planning td:not(.planning td:first-child) {
  color: #fff;
  cursor: pointer;
}

.planning .rooms-type>td{
  text-align: center;
}

.planning td.calendar-day:hover,
.planning td.calendar-day:active,
{
  background-color: #eaf4ff !important;
}

.planning td.calendar-day{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.planning th.calendar-day.weekend,
.planning td.calendar-day.weekend {
  background: #f1f1f1;
}

.planning th.today,
.planning td.today {
  background: #eaf4ff
}

.planning td.highlighted,
.planning td.drop-active {
  background: #94A2FA
}

.planning th.calendar-day,
.planning th.calendar-day-checkinout {
  min-width: 50px;
  width: 45px;
  height: 50px;
  border-left: 0
}

.planning:first td.calendar-day-checkinout {
  border-left: 1px;
}

.planning td.calendar-day-checkinout {
  border-right: 0;
}

.planning td.calendar-day.blocked,
.planning td.calendar-day-checkinout.blocked {
  background-color: rgba(255, 102, 102, .9);
}

.planning .res-details {
  min-width: 50px;
  height: 46px;
  line-height: 46px;
  display: block;
  margin-top: 2px;
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 5;
}


.planning td.calendar-day{
  position: relative;
  width: 50px;
}

.planning td.calendar-day.last-day{
  overflow: hidden;
}

.planning td.closed{
  background-color: #E5343D;
}

.planning .res-details > div{
  height: 46px;
  position: relative;
  padding: 0 5px;
  border-left: 1px dashed white;
  border-right: 1px dashed white;
}


.planning .res-details > div > span{
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  display: block;
  height: 46px;
}

/*
.planning .res-details > div::before,
.planning .res-details > div::after{
  position: absolute;
  top: 0;
  z-index: -1;
  content: ''
}


.planning .res-details > div::before{
  left: -46px;
  border-bottom: 46px solid transparent;
  border-left: 46px solid transparent;
}

.planning .res-details > div::after{
  right: -46px;
  border-top: 46px solid transparent;
  border-right: 46px solid transparent;
}
*/

.planning .res-details.res-day-CNF > div {
  background-color: rgb(247, 215, 37);
}

.planning .res-details.res-day-CNF > div::before{
  border-bottom-color: rgb(247, 215, 37);
}

.planning .res-details.res-day-CNF > div::after{
  border-top-color: rgb(247, 215, 37);
}

.planning .res-details.res-day-SLD > div {
  background-color: rgb(133, 200, 7);
}

.planning .res-details.res-day-SLD > div::before{
  border-bottom-color: rgb(133, 200, 7);
}

.planning .res-details.res-day-SLD > div::after{
  border-top-color: rgb(133, 200, 7);
}

.planning .res-details.res-day-ALT > div {
  background-color: rgb(204, 51, 0);
}

.planning .res-details.res-day-ALT > div::before{
  border-bottom-color: rgb(204, 51, 0);
}

.planning .res-details.res-day-ALT > div::after{
  border-top-color: rgb(204, 51, 0);
}

.planning .res-details.res-day-OPN > div {
  background-color: rgb(73, 120, 195);
}

.planning .res-details.res-day-OPN > div::before{
  border-bottom-color: rgb(73, 120, 195);
}

.planning .res-details.res-day-OPN > div::after{
  border-top-color: rgb(73, 120, 195);
}

.planning .res-details.res-to-review > div {
  background-color: rgb(204, 51, 0) !important;
}

.planning .res-details.res-to-review  > div::before{
  border-bottom-color: rgb(204, 51, 0);
}

.planning .res-details.res-to-review  > div::after{
  border-top-color: rgb(204, 51, 0);
}


.planning .res-details.moving {
  opacity: .5;
}

.planning .day-checkout span {
  background: #FFF;
  display: block;
  height: 30px;
  margin-right: -2px;
  width: 4px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.planning td.res-day-CNF.day-checkout div {
  border-top-color: rgb(247, 215, 37);
}

.planning td.res-day-CNF.day-checkin div {
  border-right-color: rgb(247, 215, 37);
}

.planning td.res-day-SLD.day-checkout div {
  border-top-color: rgb(133, 200, 7);
}

.planning td.res-day-SLD.day-checkin div {
  border-right-color: rgb(133, 200, 7);
}
