.ui-datepicker-trigger {
    position: absolute;
    top: 15px;
    right: 15px;
}

.fc table {
    margin: 0;
}

.fc table tbody {
    background: none;
}

.fc-day-header {
    font-weight: bold;
    font-size: 14px !important;
}

.fc-event {
    line-height: 2;
    padding: .2em;
}

tr:first-child>td>.fc-day-grid-event {
    margin-top: 13px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.unit-name {
    width: 200px;
    text-transform: uppercase;
    text-align: center;
}

.unit-days {
    padding: 0
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #B0B0B0;
}

.fc td, .fc th {
    border-width: 1px 1px 1px 1px;
}
