@import "mixin/_variable.scss","mixin/_general.scss","_normalize.scss","_elements.scss","_typography.scss";

*,
:after,
:before {
  box-sizing: border-box;
}

::-webkit-input-placeholder
{ 
	color: rgba(0, 0, 0, .5) !important;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landingpage{

	height: 100vh;

	.logo{
		img{
			width: 250px;
		}
	}

	.hero{
	color: #fff;

	h1{
	  font-weight: 900;
	  @media screen and(min-width: 1200px){
	    font-size: 62px;
	  }
	}

	h3{
	  margin-top: 0;
	}

	}

	button{
		margin-top: 50px;
	}

	.modal{
		background-color: #fff;
		color: #000;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		//hide modal
		display: none;

		&-container{
			margin: 0 auto;
			max-width: 350px;
		}  
		&-header{
			i{
				position: absolute;
			    right: 30px;
			    top: 30px;
			    font-size: 20px;
			    cursor: pointer;
			}
		}
	}

	.form-control {
	    border-radius: 0;
	    background-color: transparent;
	    border-color: transparent transparent rgba(0, 0, 0, .1);
	    color: #000;
	    text-align: center;
	    padding: 1em;
	}

	input{
	    	outline: none;
	    	
	    }

}