/*
MIXIN
*/

@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin select($value){
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transition-delay($delay) {
  -webkit-transition-delay: $delay;
  -o-transition-delay: $delay;
      transition-delay: $delay;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transform($param) {
    -webkit-transform:$param;
    -moz-transform:$param;
    -ms-transform:$param;
    transform:$param;
}

@mixin translate($param1,$param2) {
    -webkit-transform:translate($param1,$param2);
    -moz-transform:translate($param1,$param2);
    -ms-transform:translate($param1,$param2);
    transform:translate($param1,$param2);
}

@mixin translateY($param) {
    -webkit-transform:translateY($param);
    -moz-transform:translateY($param);
    -ms-transform:translateY($param);
    transform:translateY($param);
}

@mixin translateX($param) {
    -webkit-transform:translateX($param);
    -moz-transform:translateX($param);
    -ms-transform:translateX($param);
    transform:translateX($param);
}
