div.datedropper.my-style .pick-y.pick-jump, div.datedropper.my-style .pick li span, div.datedropper.my-style .pick-lg-b .pick-wke, div.datedropper.my-style .pick-btn
{
  color: $brand-primary;
}

div.datedropper.my-style .pick-m, div.datedropper.my-style .pick-m .pick-arw, div.datedropper.my-style .pick-lg-h, div.datedropper.my-style .pick-lg-b .pick-sl, div.datedropper.my-style .pick-submit {
    color: $brand-primary;
}
