label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-text {
  display: block;
  margin-top: 6px;
}

.form-field {
  width: 100%;
  color: $input-color;
  background-color: $input-bg;
  border:1px solid transparent;
  padding: $padding-large-vertical $padding-large-horizontal;
  line-height: $line-height-base;
  outline: 0;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-large;
  text-align: left;
  position: relative;
  z-index: 1;

  @include box-shadow(0 1px 3px 0 #b1b1b1);
  @include transition(box-shadow 150ms ease);
  @include border-radius($border-radius-base);
  @include appearance(none);
}

.form-field.success {
  border:1px solid $brand-success;
}

.form-field.danger {
  border:1px solid $brand-danger;
}

select.form-field {
  background: url('../img/arrow-down-icon.png') $input-bg no-repeat 95% 50%;
}

select.form-field.form-select-primary {
  color: $btn-primary-color;
  background: url('../img/arrow-down-icon-w.png') $btn-primary-bg no-repeat 95% 50%;
}

.btn-group button,
.btn-group select {
  width: auto;
  float: left;
  /* Float the buttons side by side */
}

.btn-group button:first-child,
.btn-group select:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group button:last-child,
.btn-group select:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  font-size: $font-size-base;
  font-weight: $font-weight-large;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: $line-height-base;
  letter-spacing: 1px;
  position: relative;
  padding: $padding-large-vertical $padding-large-horizontal;
  @include box-shadow(0 0 32px rgba(0,0,0,.1));
  @include border-radius($border-radius-base);
  @include select(none);
  @include transition(all .2s ease-in-out);
}

.btn:active,
.btn:hover {
  border: 1px solid $gray-lighter;
  @include transition(all .2s ease-in-out);
}

.btn-icon {
  padding: $padding-large-vertical 50px $padding-large-vertical $padding-large-horizontal;
}

.btn-icon > span.btn-item {
    height: 100%;
    padding: 0 15px;
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: $btn-primary-bg;
  border: 1px solid $btn-primary-border;
  color: $btn-primary-color;
}

.btn-primary:hover {
  background-color: darken($btn-primary-bg, 10%);
  border: 1px solid darken($btn-primary-bg, 10%);
}

.btn-default {
  background-color: $btn-default-bg;
  border: 1px solid $btn-default-border;
  color: $btn-default-color;
}

.btn-default:hover {
  background-color: darken($btn-default-bg, 5%);
  border: 1px solid darken($btn-default-border, 5%);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid $btn-primary-border;
  color: $btn-primary-border;
}

.btn-outline:hover {
  background-color: $btn-primary-bg;
  border: 1px solid darken($btn-primary-bg, 10%);
  color: $btn-primary-color;
}

.btn-square {
  padding: 6px 36px;
  text-transform: uppercase;
  @include border-radius(5px);
}

.btn-book-now {
  width: 100%;
  background-color: $btn-primary-bg;
  border: 1px solid $btn-primary-border;
  color: $btn-primary-color;
  padding: 12px;
  text-transform: uppercase;
  overflow: hidden;
  @include border-radius(5px);
}

.btn-book-now:hover {
  background-color: darken($btn-primary-bg, 10%);
  border: 1px solid darken($btn-primary-bg, 10%);
}

input:focus~.floating-label {
  top: -15px;
  left: 2em;
  opacity: 1;
  outline: none;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  transition: 0.2s ease all;
  opacity: 0;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $input-color-placeholder;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $input-color-placeholder;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $input-color-placeholder;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $input-color-placeholder;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
