*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:focus,
a:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: $gray-lighter 1px solid;
}

.container {
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  display: none;
  visibility: hidden;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

.mr {
  margin-right: 1rem;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.vertical-align {
  display: flex;
  justify-content: center;
  height: 100%;
}

.vertical-align.middle {
  align-items: center;
}

#main.home  {
  background: url("/resources/assets/front/img/backgrounds/b.png") $gray-lighter no-repeat left center !important;
  color: #010101;
}
/*
  DASHBOARD
  */
.home div#dashboard {
  background: rgba(255,255,255,.2);
  webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width:48em) {
  .home div#dashboard .form-group {
    margin: 0;
  }
}

/* DROPDOWN */

.lang a.dropbtn {
  background: transparent !important;
  border: 1px solid transparent !important;
  color: $brand-primary;
  padding: 8px 12px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  @include border-radius(5px);
}

.lang a.dropbtn:hover {
  text-decoration: none;
  color: #fff;
}


/* DROPDOWN */
.drop-element {
  z-index: 10;
}
@media screen and(min-width: 46em) {
  .drop-element {
    max-width: 50%;
  }
}

.drop-content {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  background-color: white;
}

.drop-content,
.drop-content-inner {
  background-color: $brand-primary !important;
  color: $text-color-reverse !important;
  border: 0 !important;
}

.drop-content:before {
  border-top-color: $brand-primary !important;
}

.drop-content.drop-target-attached-top::before {
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  border-bottom-color: #000;
}

.drop-title {
  padding: 0 0 0.8rem;
  opacity: 0.6;
  border: 0;
  background: none;
  text-transform: none;
  font-size: 0.75rem;
  line-height: $line-height-base;
  letter-spacing: 1px;
}

.drop-content .room-line {
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.drop-content .room-price {
  float: left;
}

.drop-content .room-price span.price {
  font-size: 0.57rem;
  margin: 0 0.7rem;
  position: relative;
  display: inline-block;
  line-height: 1.5;
}

.drop-content .room-price span.price {
  color: #a8e5ff;
}

.drop-content .room-book {
  float: right;
  overflow: hidden;
}

.drop-content .room-book svg {
  width: 20px;
  height: 18px;
  vertical-align: middle;
}

.drop-content .book-now {
  padding: 0;
  letter-spacing: 1px;
  font-weight: $font-weight-base;
  font-size: 10px;
  cursor: pointer;
  background: none;
  border: 0;
}

.drop-content .book-now {
  color: $light-color !important;
  border-bottom: 1px solid $light-color;
}

.grey-box {
  background: $gray-lighter;
  padding: 1em;
  margin-bottom: 1em;
  @include border-radius(10px);
}

#masthead {
  min-height: $navbar-height;
  background-color: $navbar-default-bg;
  color: $navbar-default-color;
  padding: 1em 0;
}

#masthead .site-title {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%;
}

#masthead .site-title {
  text-indent: -9999px;
  height: 50px;
  width: 108px;
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width:48em) {
  #masthead .site-title {
    background-image: url("../img/logo_extended.png");
    margin: 0;
  }

  #masthead .site-title {
    width: 110px;
  }
}

#masthead .site-title > a {
  display: block;
}

#masthead ul#header-item {
  margin: 0;
  padding: 0;
  float: right;
}

#masthead ul#header-item > li {
  display: inline-block;
  padding: 0 .5em;
  line-height: 50px;
}

#masthead ul#header-item > li > a {
  font-weight: $font-weight-large;
}

#masthead ul#header-item > li > a:hover {
  background-color: $navbar-default-link-hover-bg;
}

@media only screen and (min-width:48em) {
  #masthead ul#header-item > li > a {
    color: $navbar-default-link-color;
    font-weight: $font-weight-large;
  }
  #masthead ul#header-item > li > a:hover {
    color: $navbar-default-link-hover-color;
    background-color: $navbar-default-link-hover-bg;
  }
}



#masthead ul#header-item > li > a:active {
  color: $navbar-default-link-active-color;
  background-color: $navbar-default-link-active-bg;
}

#masthead ul#header-item > li > a > i {
  font-size: 1.5em;
}

#masthead select.form-field {
  background: darken($brand-primary,5%);
  border: 1px solid darken($brand-primary,5%);
  color: #fff;
}

#hero {
  padding: 30px 0;
}

#hero {
  text-transform: uppercase;
  letter-spacing: 1px;
}

#hero h1.hero-title {
  font-weight: $font-weight-large;
}

#hero h3.hero-subtitle {
  font-weight: $font-weight-base;
}

#main {
  padding: 1rem 0 2rem;
}

.container-fluid {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}
/*
DASHBOARD
*/
div#dashboard {
  padding: 30px;
  margin-top: 30px;
}

div#dashboard .form-field {
  text-align: center;
}
/*
SUMMARY BAR
*/
#summary-bar {
  background-color: darken($brand-primary,10%);
  padding: 6px;
}

#summary-bar.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

#summary-bar,
#summary-bar > a {
  color: $summary-default-color;
}

#summary-bar {
  font-weight: $font-weight-large;
}

#summary-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#summary-bar ul > li {
  display: block;
  border-left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  line-height: 35px;
}
@media only screen and (min-width:48em) {
  #summary-bar ul > li {
    display: inline-block;
    padding: 0 0.5rem;
    border-bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, .2);
  }

  #summary-bar ul > li:first-child {
    padding-left: 0;
    border-left: 0;
  }
}

#summary-bar .item-info {
  display: inline-block;
  padding: 0.2rem;
}

#summary-bar .btn {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 0.7em;
  padding: 0.6em;
}
/*
SUMMARY BAR
*/
.block-reservation-info {
  display: table;
  width: 100%;
  background: #fff;
  margin-bottom: 15px;
}

.block-reservation-info > div {
  display: table-row;
}

.block-reservation-info > div > div {
  display: table-cell;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
}

ul.list-room {
  list-style: none;
  padding: 0;

  li.list > .row {
    margin: 0;
  }

  li.list {
    background: #fff;
    padding-bottom: $padding-large-vertical;
    margin-bottom: 30px;
    @include border-radius(10px);
    @include box-shadow(0 51px 92px rgba(0, 0, 0, .1));
    @include transition(all 0.5s ease-in-out);
  }

  li.list figure {
    height: 200px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    background-position: center center;
    background-size: cover;
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);

    button {
      outline: 0;
    }

    &:hover button {
      display: block;
    }
  }
  @media screen and(min-width: 46em) {
    li.list figure {
      height: auto;
      @include border-top-right-radius(0);
    }
  }

  li.list figure img {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li.list figure button {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    margin: 0;
    border: 0;
    display: none;
    @include border-top-left-radius(10px);
  }

  li.list figure button i {
    color: #fff;
    font-size: 5em;
  }

  li.list .details {
    padding: 0;
    margin: 0;

    .button {
      margin-top: 8px;
    }

    .description {
      max-height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > * {
      display: block;
    }

    > * > * {
      display: block;
      padding: 0;
      text-align: center;
      vertical-align: middle;
    }

    > * > *:first-child {
      padding-left: 0;
      padding-right: $padding-large-horizontal;
      text-align: center;
    }

    > * > *:last-child {
      width: 100%;
    }

    > *:first-child > * {
      border-bottom: 1px solid $gray-lighter;
      padding-top: 0;
      padding-bottom: 0;
      min-height: 50px;
      line-height: 50px;
    }

    .price {
      text-transform: uppercase;
      display: block;
      font-weight: 700;
      font-size: 36px;
      padding: 15px;
      line-height: 36px;
      text-align: center;
    }

    .price small {
      font-size: $font-size-small;
      display: block;
      margin: 0;
      color: #838383;
      padding: 0;
    }
  }
  @media screen and(min-width: 46em) {
    li.list {
      padding: 0;
    }

    li.list .details {
      display: table;
      padding: 15px 0 15px 20px;

      > * {
        display: table-row;
      }

      > * > * {
        padding: $padding-large-vertical $padding-large-horizontal 0;
        display: table-cell;
      }

      > *:first-child > * {
        padding-bottom: 10px;
        min-height: auto;
        line-height: 1;
      }

      > * > *:first-child {
        border-right: 1px solid $gray-lighter;
        text-align: left;
      }

      > * > *:last-child {
        width: 220px;
      }
    }
  }

  li.list .rate-details {
    display: none;
    width: 100%;
    padding: 0 1em
  }

  li.list .close {
    position: absolute;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    visibility: hidden;
  }

  li.list.open {
    position: relative;
    z-index: 2;
    @include translateY(-10px);
    @include transition(all 0.5s ease-in-out);
  }

  li.list.open::after {
    content: '';
    font-size: 16px;
    color: #fff;
  }

  li.list.open .btn-info {
    display: none;
  }

  li.list.open .rate-details {
    display: block;
  }

  li.list.open .close {
    top: -35px;
    right: 0;
    visibility: visible;
  }

  li.list.open .row {
    border-bottom: 1px solid #f1f1f1;
  }

  li.list.open .row:last-child {
    border: 0;
  }

  li.list.open .rate-details .rate-description {
    display: none;
  }

  li.list.open .rate-details .rate-description.visible {
    display: block;
  }

  li.list.open .rate-details .rate-name {
    background: #fafafa;
    padding: 1rem;
    margin: 0 -1rem 1rem;
  }

  li.list .rate-details > div {
    display: block;
  }

  li.list .rate-details > div > div {
    padding: 10px 0;
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
  }

  li.list .rate-details > div > div:last-child {
    border-right: none;
  }

  li.list .rate-details > div > div:nth-child(1),
  li.list .rate-details > div > div:nth-child(2),
  li.list .rate-details > div > div:nth-child(3) {
    width: 100%;
  }
  @media screen and(min-width: 46em) {
    li.list.open .rate-details {
      display: table;
    }

    li.list.open .rate-details .rate-description.visible {
      caption-side: bottom;
      display: table-caption;
    }

    li.list .rate-details > div {
      display: table-row;
    }

    li.list .rate-details > div > div {
      display: table-cell;
      vertical-align: middle;
      border-right: 1px solid #f1f1f1;
      padding: 10px 20px;
    }

    li.list .rate-details > div > div:last-child {
      border-right: none;
    }

    li.list .rate-details > div > div:nth-child(1) {
      width: 33%;
    }

    li.list .rate-details > div > div:nth-child(2) {
      width: 33%;
    }

    li.list .rate-details > div > div:nth-child(3) {
      width: 34%;
    }
  }

  li.list .price {
    font-size: 18px;
    font-weight: 700;
  }

  li.list .rate-details svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  li.list .rate-details .room-line {
    height: 60px;
    line-height: 55px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
  }

  li.list .rate-details .room-line.is-added {
    height: 0;
    border: 0;
    overflow: hidden;
    @include transition(all 0.2s ease-in-out);
    @include transition-delay(0.6s);
  }

  li.list .rate-details .room-line:last-child {
    border-bottom: 0;
  }

  li.list .rate-details .room-line > button > span.room-count {
    background: #e94b35;
    padding: 0.2em 0.6em;
    border-radius: 5px;
    display: inline-block;
    margin-right: 20px;
    font-size: 0.8em;
  }
}

.overlay-modal-room {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  display: none;
  @include transition(all 0.5s ease-in-out);
}
/* CART */
.overlay-cart {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 15;
  visibility: hidden;

  #cart {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: -100%;
    right: 0;
    padding: $padding-large-horizontal*2;
    overflow: auto;
    @include transition(all 0.3s linear);

    .btn {
      @include transition(none);
      width: 100%;
      margin-bottom: $padding-large-vertical;
    }

    .cart-content > .ti-close {
      color: #000;
      font-size: 30px;
    }
  }
  @media screen and(min-width: 46em) {
    #cart {
      width: 50%;

      .btn {
        width: auto;
        margin-bottom: 0;
      }

      .cart-content > .ti-close {
        color: #fff;
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }

    #cart .cart-content > .ti-close {
      color: #fff;
      left: -50px;
    }

    #cart .payment-summary {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: $padding-large-horizontal*2;
    }

  }

  #cart .cart-content h1 {
    margin-top: 0;
  }



  #cart ul#rooms-list > li {
    line-height: 25px !important;
    background-color: #e7e9f1;
    padding: $padding-large-vertical;
    margin-bottom: 1rem;
    @include border-radius(5px);
    @include transform(translateX(100%));
    @include transition(translate 0.3s linear);
  }

  &.visible #cart ul#rooms-list > li {
    @include transform(translateX(0));
    @include transition-delay(0.5s);
    @include transition(translate 0.1s linear);
  }

  #cart ul#rooms-list > li .details .ti-close {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
  }
}

.overlay-cart.visible {
  visibility: visible;

  #cart {
    top: 0;
    @include transition(all 0.3s linear);
    @include transition-delay(0.3s);
  }
}
/*
Bottom Cart
*/
.bt-cart-container {
  width: 100%;
  background-color: $brand-primary;
  padding: $padding-large-vertical $padding-base-horizontal;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: right;
  z-index: 15;
  @include transition(all 0.3s linear);

  &.empty {
    @include translateY(100px);
    @include transition(all 0.3s linear);
    display: none;
  }

  .btn-continue {
    width: 100%;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    font-size: $font-size-large;
    font-weight: $font-weight-large;
    margin: 0 0 20px;
    overflow: hidden;
    cursor: pointer;
    @include transition(all 0.1s linear);
    @include translateX(0);

    &::after {
      font-family: 'themify';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e649";
    }

    &::after {
      display: inline-block;
      @include transition(all 0.1s linear);
      @include translateX(100px);
    }

    &:hover {
      @include transition(all 0.1s linear);
      @include translateX(-10px);
    }

    &:hover::after {
      @include transition(all 0.1s linear);
      @include translateX(0);
    }
  }

  .bt-cart-trigger {
    display: block;
    width: auto;
    position: relative;
    z-index: 3;
    white-space: nowrap;
    background: #fff;
    border-radius: 5px;
    padding: $padding-large-vertical $padding-large-horizontal;
    font-weight: $font-weight-large;
    text-decoration: none;
    text-align: center;
  }

  .bt-cart-trigger .count {
    position: absolute;
    top: -10px;
    right: -15px;
    height: 28px;
    line-height: 28px;
    width: 28px;
    background: #e94b35;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    text-indent: 0;
  }
}
@media screen and(min-width: 46em) {
  .bt-cart-container {
    .btn-continue {
      width: auto;
      margin: 0 15px 0 0;
    }

    .bt-cart-trigger {
      width: auto;
      display: inline-block;
    }
  }
}
/* PAYMENT */
div#cart ul#rooms-list,
div.summary-items-wrapper ul#rooms-list {
  padding: 0;
  margin: 1rem 0;
  list-style: none;
}

div#cart ul#rooms-list > li,
div.summary-items-wrapper ul#rooms-list > li {
  line-height: 65px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

div.summary-items-wrapper #rooms-list > li:after div#cart ul#rooms-list > li:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}

div.summary-items-wrapper #rooms-list > li .thumbnail {
  margin-right: 1em;
  float: left;
}

div.summary-items-wrapper #rooms-list > li .thumbnail > div {
  width: 65px;
  height: 65px;
  background: $brand-primary 50% 50% no-repeat;
  background-size: cover;
  border: 5px solid #fff;
  @include border-radius(50%);
  @include box-shadow(0 8px 24px rgba(46,47,48,.15));
}

div.summary-items-wrapper #rooms-list > li .thumbnail > img {
  margin: 0;
  width: 100%;
  height: 100%;
}

div#cart ul#rooms-list > li .details,
div.summary-items-wrapper #fees-list .details,
div.summary-items-wrapper #rooms-list .details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#cart ul#rooms-list > li .price,
div.summary-items-wrapper #fees-list > li .price,
div.summary-items-wrapper #rooms-list > li .price {
  font-size: 16px;
  font-weight: $font-weight-large;
  float: right;
}

div#cart ul#rooms-list,
div.summary-items-wrapper #details-list,
div.summary-items-wrapper #fees-list,
div.summary-items-wrapper #rooms-list {
  width: 100%;
  margin: 0;
  padding: 0 0 15px;
  list-style: none;
  text-align: left;
}

.total-price,
.total-price-title {
  font-size: $font-size-h2;
  font-weight: $font-weight-large;
}

.other-price,
.other-price-title {
  font-size: $font-size-h3;
  font-weight: $font-weight-large;
}

.other-price,
.total-price {
  float: right;
  color: $brand-primary;
}

.hidden,
.special-request {
  display: none;
}
/* Tab ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.tab-pane > ul {
  list-style: none;
  margin: 0;
}

div.tab-pane ul > li {
  display: inline-block;
  margin: 0;
}

div.tab-pane ul > li > a {
  padding: 25px 15px;
  display: inline-block;
  outline: none;
}

div.tab-pane ul > li.current {
  border-bottom: 0.1rem solid $gray-lighter;
}

div.tab-pane ul > li.current > a {
  color: $brand-primary;
}

div.tab-content div.tab {
  display: none;
}

div.tab-content div.tab.visible {
  display: block;
}

div.tab > .tab-content {
  padding: 15px;
}
/* Notes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.alert {
  margin-bottom: 15px;
  padding: $padding-large-vertical $padding-large-horizontal;
  color: #fff;
}

.alert > p {
  margin: 0;
}

.alert.success {
  background-color: $brand-success;
  border-left: 6px solid $gray-lighter;
}

.alert.info {
  background-color: $brand-info;
  border-left: 6px solid $gray-lighter;
}

.alert.warning {
  background-color: $brand-warning;
  border-left: 6px solid $gray-lighter;
}

.alert.danger {
  background-color: $brand-danger;
  border-left: 6px solid $gray-lighter;
}
/****
    DROPDOWN
***/
a.dropbtn {
  background: lighten($brand-primary,5%);
  border: 1px solid lighten($brand-primary,5%);
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  @include border-radius(5px);
}

a.dropbtn:hover {
  text-decoration: none;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  background-color: #fff;
  @include box-shadow(0 0 32px rgba(0,0,0,.1));
  @include transition(all 0.3s linear);
  @include border-radius($border-radius-base);
  z-index: 1;
}

.dropdown-content ul {
  padding: 0;
  list-style: none;
}

.dropdown-content ul > li {
  line-height: 1;
}

.dropdown-content a {
  color: $text-color;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  @include transition(all 0.3s linear);
}

.dropdown:hover .dropbtn {
  background: darken($brand-primary,5%);
}
/****
    INVOICE
***/
.invoice-box {
  margin: 15px auto;
  padding: 0;
  border: 1px solid #eee;
  background: #fff;
  font-size: 14px;
  line-height: 24px;
  zoom: 0.6;
}
@media screen and (min-width:42em) {
  .invoice-box {
    zoom: 1;
    padding: 30px;
    font-size: 14px;
  }
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid $gray-lighter;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid $gray-lighter;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

#credit_card,
#paypal,
#stripe {
  display: none;
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #b1b1b1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  padding: 1em;
  font-weight: bold;
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  max-width: 1000px;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:focus,
.modal-close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
