@font-face {
    font-family: 'geometria';
    src: url('../fonts/geometrialight-webfont.woff2') format('woff2'), url('../fonts/geometrialight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'geometria';
    src: url('../fonts/geometria-webfont.woff2') format('woff2'), url('../fonts/geometria-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometria';
    src: url('../fonts/geometriamedium-webfont.woff2') format('woff2'), url('../fonts/geometriamedium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'geometria';
    src: url('../fonts/geometriabold-webfont.woff2') format('woff2'), url('../fonts/geometriabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*
  Typography
*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-large;
  line-height: $line-height-base;
  color: $headings-color;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $gray-light;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-bottom: 10px;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-bottom: 10px;
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%;
}

.h1,
h1 {
  @include font-size($h1-font-sizes);
}

.h2,
h2 {
  @include font-size($h2-font-sizes);
}

.h3,
h3 {
  font-size: $font-size-h3;
}

.h4,
h4 {
  font-size: $font-size-h4;
}

.h5,
h5 {
  font-size: $font-size-h5;
}

.h6,
h6 {
  font-size: $font-size-h6;
}

p {
  margin: 0 0 10px;
  @include font-size($p-font-sizes);
}

strong{
  font-weight: $font-weight-large;
}

.drop-content, .drop-title {
    color: #fff;
}

.color-turquoise-text {
    color: #c2d2f5 !important;
}

.color-light-grey, .pagination li a {
    color: #b7b7b7;
}

.color-red{
  color: #d9534f;
}

.color-primary{
  color: $brand-primary;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-uc {
    text-transform: uppercase;
}

.text-lc {
    text-transform: lowercase;
}

.text-un{
    text-decoration: underline;
}
