    /* Noty */

    .noty-wrapper {
        font-size: 14px;
        font-weight: bold;
        position: fixed;
        z-index: 10000;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        opacity: 95;
        -moz-opacity: 95;
        filter: alpha(opacity: 95);
    }
    .noty-wrapper:hover {
        opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity: 100);
    }
    .noty_message {
        line-height: 20px;
        padding: 15px 10px;
        text-align: center;
    }

    .noty_message span p{
	    margin: 0
    }

    #noty_bottom {
        bottom: 0;
    }
    #noty_top {
        top: 0;
    }
    #noty_center {
        top: 50%;
        left: 50%;
    }
    #noty_center li {
        margin: 10px 0;
        border: 0;
    }

    .bg-orange {
        color: #fff;
        border-color: #d67520;
        background: #e67e22;
    }

    .bg-red {
        color: #fff;
        border-color: #cf4436;
        background: #e74c3c;
    }

    .btn-danger[disabled].active {
        color: #fff;
        border-color: #cf4436;
        background: #eb6759;
    }

    .bg-white {
        background-color: #fff;
        position: relative;
        color: #5b5b60;
    }

    .bg-black {
        color: #ccc;
        border-color: #000;
        background: #2d2d2d;
    }

    .bg-green {
        color: #fff;
        border-color: #29b765;
        background: #2ecc71;
    }

    .bg-purple {
        background-color: #9A89B5;
        position: relative;
        color: #fff;
    }
